<header>
    <div class="search-glass">Search</div>
    <div class="company-title" ui-sref="home">DevMountain</div>
    <div class="menu">Menu</div>
</header>
<main>
    <div class="left-container">
        <div class="text-container">
            <h1>{{user.name}}</h1>
            <h4>{{user.tagline}}</h4>
            <p>{{user.bio}}</p>
        </div>
    </div>
    <div class="shapes-container">
        <div class="triangles">
            <div class="triangle-up"></div>
            <div class="triangle-down"></div>
        </div>
    </div>
</main>
<nav>
    <ul>
        <li ui-sref="view-friends">View Friends</li>
        <li>Find Friends</li>
        <li>Update Profile</li>
    </ul>
</nav>
